<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- можно подключить здесь -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
</head>

<body>
    <div id="app">
        <!-- задание 1 -->
        <!-- 1. Вы разрабатываете страницу для отображения информации о товаре. У вас есть объект product, который содержит информацию о товаре, включая название, цену и URL изображения товара. Вам необходимо отобразить эту информацию на странице с использованием v-bind.
        2. Добавьте кнопку, которая будет изменять цену товара. При нажатии на кнопку должна генерироваться скидка на товар от 1 до 20% и обновиться цена товара в соответствии с значением скидки -->
        <div class="product">
            <h2>{{ product.title }}</h2>
            <p>{{ product.price}}</p>
            <img alt="" width="300">
            <button @click="addDiscount" :disabled="isDisabled">Скидка</button>
        </div>

        <!-- задание 2 -->
        <!-- 1. Вы разрабатываете простое приложение для отображения списка пользователей. У вас есть массив объектов users, где каждый объект представляет одного пользователя с его именем и возрастом. Вам необходимо отобразить каждого пользователя из массива в виде
        списка на странице. -->
        <hr>
        <ul>
            <li v-for="user in users" :key="user.id">{{ user.name }} - {{ user.age }}</li>
        </ul>

        <!-- задание 3
        1. Вы разрабатываете приложение для создания списка покупок. У вас есть массив объектов items, где каждый объект представляет товар с его названием и количеством. Вам необходимо отобразить список товаров, предоставить возможность изменять количество каждого товара и отмечать товары, которые уже куплены. -->
        <hr>
        <ul>
            <li v-for="product in products" :key="product.id">
                <input type="number" step="1" v-model.number="product.count">
                <input type="number" step="1" v-model.lazy.number="product.count">
                <input type="number" step="1" v-model.lazy="product.count">
                <label>
                    <input type="checkbox"> {{ product.name }}
                </label>
            </li>
        </ul>

        <!-- задание 4
        1. Вы разрабатываете приложение для управления списком контактов. У вас есть форма с полями "Имя", "Фамилия" и "Email", где пользователь может вводить информацию о новом контакте. После добавления контакта он должен отображаться в списке контактов. Требуется связать форму с данными и отображать список контактов на странице. -->
        <hr>
        <!-- prevent отменяет стандартное поведение, т.е. форма не отправится -->
        <form action="#" @submit.prevent = "addContact">    
            <input v-model.lazy="firstName" type="text" /> type="text" placeholder="Имя">
            <input v-model.lazy="lastName" type="text" placeholder="Фамилия">
            <input v-model.lazy="email" type="text" placeholder="email">
            <button>Отправить</button>
        </form>
        <ul>
            <li v-for="contact in contacts" :key="contact.id" @click="delContact(contact.id)" @click=" removeContact($event)"> {{contact.firstName}} - {{contact.lastName}} - {{contact.email}}</li>
            <li v-for="contact in contacts" :key="contact.id" @click=" removeContact($event)">
                {{contact.firstName}} - {{contact.lastName}} - {{contact.email}}</li>
        </ul>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = {
            data() {
                return {
                    // задание 4
                    contacts: [],
                    firstName: "",
                    lastName: "",
                    email: "",

                    // задание 3
                    products: [{
                        id: 1,
                        name: "Молоко",
                        count: 2
                    },
                    {
                        id: 2,
                        name: "Хлеб",
                        count: 4
                    },
                    {
                        id: 3,
                        name: "Яблоки",
                        count: 5
                    },
                    ],

                    //задание 2
                    users: [{
                        id: 1,
                        name: 'Alex',
                        age: 18
                    },
                    {
                        id: 2,
                        name: 'Bob',
                        age: 19
                    },
                    {
                        id: 3,
                        name: 'John',
                        age: 20
                    }
                    ],

                    //задание 1
                    isDisabled: false,
                    product: {
                        title: "Товар",
                        price: 1000,
                        image: "https://gas-kvas.com/grafic/uploads/posts/2023-09/1695906477_gas-kvas-com-p-kartinki-knizhka-7.png",
                    },
                    discount: null,
                }
            },
            methods: {
                // задание 4
                addContact() {
                    const contact = {
                        id: this.contacts.length + 1,
                        firstName: this.firstName,
                        lastName: this.lastName,
                        email: this.email,
                    }
                    this.contacts.push(contact);
                    this.firstName = "";
                    this.lastName = "";
                    this.email = "";
                },
                delContact(id) {
                    this.contacts = contacts.filter( (contact) => contact.id !== id); // удаляем путем перезаписи массива
                },
                removeContact(event) {
                    event.target.remove();  // удалится из DOM-дерева, а в массиве останется. splice тоже удаляет из массива
                },

                // задание 1
                addDiscount() {
                    const discount = Math.floor(Math.random() * 20 + 1);
                    this.product.price -= this.product.price * discount / 100;
                    this.isDisabled = true;
                }
            },
        }
        Vue.createApp(app).mount("#app");
    </script>
</body>

</html>